@font-face {
	font-family: 'swiper-icons';
	src: url(../../assets/fonts/swiper-icons-4523a3ffc33e8004c07eaa534ab0bd1c.woff) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}